body {
    margin: 0;
}

.container, .container-2 {
    height: 50vh;
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .square {
    width: 100px;
    height: 100px;
    background-color: red;
}

.container-2 .circle{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 100%;
    border: 4px solid blue;
}

.container-2 {
    justify-content: space-around;
    background-color: white;
}

img {
    width: 150px;
}

@media (min-width: 600px) {
    .container-2 {
        flex-direction: row;
        
    }
}